﻿@{
    Layout = "../Shared/_DemoLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDetails</title>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script>
        window.onload =
            function showDetailedChart() {
            var detailedChart = new CanvasJS.Chart("detailContainer", {
	            theme: "light2",
	            animationEnabled: true,
	            title: {
                    text: "Top Time Consuming Steps",
                    fontColor: "#2C4B5D",
                    fontFamily: "Verdana"
                },
                axisY: {
                    interval: 100,
                    valueFormatString: "##00:00"
                },
	            data: [{
		            type: "rangeBar",
		            indexLabel: "{y[#index]}",
                    toolTipContent: "<b>{label}</b><br />{y[0]} to {y[1]} <br />Runtime : {runtime}min<br />Status : {status}",
                    xValueType: "dateTime",
                    yValueFormatString: "##00:00",
                    dataPoints: @Html.Raw(ViewBag.DetailStatisticsDataPoints)
	            }],

                options: {
                    responsive: true,
                    maintainAspectRatio: true
                }
            });

                detailedChart.render();
        }
    </script>
</head>
<body>
    <div class="box3d" id="detailContainer" style="height: 370px; width: 80%; margin: auto;"></div>
    @*<div id="detailContainer" style="position: relative; width: auto; height:750px; transform: scale(0.5)">
            <canvas id="chart"></canvas>
        </div>*@
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
