﻿@{
    Layout = "../Shared/_Layout.cshtml";
}
<!DOCTYPE HTML>
    <html>
    <head>
        <script src="~/js/jquery-3.4.1.min.js"></script>
        <script>
        GetData = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "ETL Analytics",
                    fontColor: "#2C4B5D",
                    fontFamily: "Verdana",
                    fontWeight: "bold"
                },
                axisY: {
                    interval: 60,
                    valueFormatString: "###0min"
                },
                toolTip: {
                    shared: true,
                    fontFamily: "arial",
                    fontSize: 10,
                    content:"{stage} : {y} <br />"
                },
                legend: {
                    horizontalAlign: "right",
                    verticalAlign: "center",
                    fonstSize: 15
                },
                data: [{
                    type: "stackedBar",
                    name: "Step 1  -  {stage}",
                    showInLegend: true,
                    color: "#6d78ad",
                    yValueFormatString: "###0.##min",
                    dataPoints: @Html.Raw(ViewBag.DataPoints1)
	            },
                {
                    type: "stackedBar",
                    name: "Step 2  -  {stage}",
                    showInLegend: true,
                    color: "#df874d",
                    yValueFormatString: "###0.##min",
                    dataPoints: @Html.Raw(ViewBag.DataPoints2)
	            },
                {
                    type: "stackedBar",
                    name: "Step 3  -  {stage}",
                    showInLegend: true,
                    color: "#5592ad",
                    yValueFormatString: "###0.##min",
                    dataPoints: @Html.Raw(ViewBag.DataPoints3)
	            },
                {
                    type: "stackedBar",
                    name: "Step 4  -  {stage}",
                    showInLegend: true,
                    color: "#c9d45c",
                    yValueFormatString: "###0.##min",
                    dataPoints: @Html.Raw(ViewBag.DataPoints4)
	            },
                {
                    type: "stackedBar",
                    name: "Step 5  -  {stage}",
                    showInLegend: true,
                    color: "#ae7d99",
                    yValueFormatString:"###0.##min",
                    dataPoints: @Html.Raw(ViewBag.DataPoints5)
	            },
                {
                    type: "stackedBar",
                    name: "Step 6  -  {stage}",
                    showInLegend: true,
                    color: "#4c9ca0",
                    yValueFormatString: "###0.##min",
                    dataPoints: @Html.Raw(ViewBag.DataPoints6)
	            },
                {
                    type: "stackedBar",
                    name: "Step 7  -  {stage}",
                    showInLegend: true,
                    color: "#df7970",
                    yValueFormatString:  "###0.##min",
                    dataPoints: @Html.Raw(ViewBag.DataPoints7)
	            },
                {
                    type: "stackedBar",
                    name: "Step 8  -  {stage}",
                    showInLegend: true,
                    color: "#51cda0",
                    yValueFormatString: "###0.##min",
                    dataPoints: @Html.Raw(ViewBag.DataPoints8)
	            },
                {
                    type: "stackedBar",
                    name: "Step 9  -  {stage}",
                    showInLegend: true,
                    color: "#6d78ad",
                    yValueFormatString: "###0.##min",
                    dataPoints: @Html.Raw(ViewBag.DataPoints9)
	            }]
            });

            var bChart = new CanvasJS.Chart("bTreeChartContainer", {
	            theme: "light2",
	            animationEnabled: true,
	            title: {
                    text: "ETL Progress Timeline",
                    fontColor: "#2C4B5D",
                    fontFamily: "Verdana"
                },
                axisY: {
                    interval: 100,
                    valueFormatString: "##00:00"
                },
	            data: [{
		            type: "rangeBar",
		            indexLabel: "{y[#index]}",
                    toolTipContent: "<b>{label}</b><br />{y[0]} to {y[1]} <br />Runtime : {runtime}min<br />Status : {status}",
                    xValueType: "dateTime",
                    yValueFormatString: "##00:00",
                    dataPoints: @Html.Raw(ViewBag.TreeDataPoints),
                    click:getDetails
	            }]
            });

            var tChart = new CanvasJS.Chart("trendChartContainer", {
	            animationEnabled: true,
	            title: {
                    text: "ETL Trend",
                    fontColor: "#2C4B5D",
                    fontFamily: "Verdana",
                    fontWeight: "bold"
	            },
	            axisY: {
                    includeZero: true,
                    interval: 10,
                    valueFormatString: "###0"
                },
                toolTip: {
                    shared: true,
                    fontFamily: "arial",
                    fontSize: 10,
                    content: "{stage} : {y} <br />"
                },
                legend: {
                    horizontalAlign: "right",
                    verticalAlign: "center",
                    fonstSize: 15
                },
	            data: [{
		            type: "line",
                    name: "{stage}",
                    showInLegend: true,
                    color: "#6d78ad",
                    yValueFormatString: "###0.##min",
		            dataPoints: @Html.Raw(ViewBag.TDataPoints1)
	            },
                {
		            type: "line",
                    name: "{stage}",
                    showInLegend: true,
                    color: "#df874d",
                    yValueFormatString: "###0.##min",
		            dataPoints: @Html.Raw(ViewBag.TDataPoints2)
	            },
                {
		            type: "line",
                    name: "{stage}",
                    showInLegend: true,
                    color: "#5592ad",
                    yValueFormatString: "###0.##min",
		            dataPoints: @Html.Raw(ViewBag.TDataPoints3)
	            },
                {
		            type: "line",
                    name: "{stage}",
                    showInLegend: true,
                    color: "#c9d45c",
                    yValueFormatString: "###0.##min",
		            dataPoints: @Html.Raw(ViewBag.TDataPoints4)
	            },
                {
		            type: "line",
                    name: "{stage}",
                    showInLegend: true,
                    color: "#ae7d99",
                    yValueFormatString: "###0.##min",
		            dataPoints: @Html.Raw(ViewBag.TDataPoints5)
	            },
                {
		            type: "line",
                    name: "{stage}",
                    showInLegend: true,
                    color: "#4c9ca0",
                    yValueFormatString: "###0.##min",
		            dataPoints: @Html.Raw(ViewBag.TDataPoints6)
	            },
                {
		            type: "line",
                    name: "{stage}",
                    showInLegend: true,
                    color: "#df7970",
                    yValueFormatString: "###0.##min",
		            dataPoints: @Html.Raw(ViewBag.TDataPoints7)
	            },
                {
		            type: "line",
                    name: "{stage}",
                    showInLegend: true,
                    color: "#51cda0",
                    yValueFormatString: "###0.##min",
		            dataPoints: @Html.Raw(ViewBag.TDataPoints8)
	            },
                {
		            type: "line",
                    name: "{stage}",
                    showInLegend: true,
                    color: "#6d78ad",
                    yValueFormatString: "###0.##min",
		            dataPoints: @Html.Raw(ViewBag.TDataPoints9)
	            }]
            });

            chart.render();
            bChart.render();
            tChart.render();
        }
        window.onload = GetData;
        function AutoRefresh() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Home")',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    GetData();
                }});
            }
            window.setInterval(function () { location.reload(); }, 300000);

            function getDetails(e) {
                var link = "/Home/GetDetails/?processDetailId=" + e.dataPoint.processDetailId;
             window.open(link, "_blank");
            }
        </script>
    </head>
    <body>
        <div class="box3d" id="bTreeChartContainer" style="height: 370px; width: 80%; margin: auto;"></div>
        <br />
        <div class="box3d" id="chartContainer" style="height: 370px; width: 80%; margin: auto;"></div>
        <br />
        <div class="box3d" id="trendChartContainer" style="height: 500px; width: 100%; margin: auto;transform: scale(0.8)"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </body>
</html>

