﻿<!DOCTYPE html>
<style>
    .heading {
        padding: 10px;
    }

    body {
        background-color: #f8f8f8;
        padding-top: 50px;
        background: url('../Images/grain.png') #F1F2F3 repeat;
    }

    .box3d {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETLDashboard.WebApp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<img class="img-reponsive logo heading" src="../Images/ds-logo-small.svg" onerror="this.src = '../Images/ds-logo-small.png';" alt="DealerSocket Logo" ;>*@
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top : 60px">
        <main role="main" class="pb-3">
            <div>
                @RenderBody()
            </div>
        </main>
    </div>


    <footer class="footer-copyright text-center py-3" style=" position : relative;">
        <div>
            &copy; @DateTime.Now.Year - DealerSocket Inc. All rights reserved.
        </div>
    </footer>
</body>
</html>
